@import url('https://fonts.googleapis.com/css?family=BioRhyme&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: url(https://cdn-s3.si.com/s3fs-public/styles/marquee_large_2x/public/2019/05/28/stephen-curry-kawhi-leonard-nba-finals-preview.jpg?itok=c3QKzG7L) 
  
}

h1 {
  color: rgb(180,151,90);
  font-family: 'BioRhyme', serif;
font-size: 40px
}

h2 {
  color: white;
  font-family: 'BioRhyme', serif;
  font-size: 35px
}

h3 {
  color: rgb(206,17,65);
  font-family: 'BioRhyme', serif;
  font-size: 25px
}

h4 {
  color: rgb(206,17,65);;
  font-family: 'BioRhyme', serif;
}